Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  modernize-*,
  readability-*,
  cppcoreguidelines-avoid-magic-numbers,
  cppcoreguidelines-narrowing-conversions,
  misc-unused-parameters,
  -modernize-use-trailing-return-type,
  -readability-magic-numbers
WarningsAsErrors: '*'
HeaderFilterRegex: 'src/.*|apps/.*|tests/.*'
FormatStyle: file
AnalyzeTemporaryDtors: false
